table{
border: solid black;
/* width: 100%;
margin-left: 20%;
}
/* #er{
width: 20%;
background-color: blue;
color: white;
} */
#rt{
color: white;
background-color: blue;
padding-left: 19%;
width: 50%;
border: solid black;
}
#msd{
    color: white;
    background-color: blue;
    /* padding-right: 10%; */
padding-left: 19%;
border: solid black;
}
#cj{

padding-left: 5%;
border: solid black;

}
#ff{
padding-right: 15%;
padding-left: 5%;
border: solid black;

}
#ert{
padding-left:5% ;
border: solid black;
}
#king{
padding-left:5% ;
padding-right: 15%;
border: solid black;
}
#dd{
    padding-left:5% ;
    border: solid black;
}
#fa{
    padding-left:5% ;
    padding-right: 15%;
    border: solid black;
}
#de{
    padding-left:5% ;
    border: solid black;
}
#pai{
    padding-left:5% ;
    padding-right: 15%;
    border: solid black;



} */
